body {
    font-family: Arial, sans-serif;
    background-color: #b1aadd;
    text-align: center;
}

h1 {
    color: #63050a; //Color carácteres
    font-size: 12em; //Tamaño de fuente
}

p {
    color: #550569;
    font-size: 2em;
}

img {
    width: 700px; //ancho
    height: 800px; //alto
    border-radius: 20px; //Bordes redondeados
}
