*{
    margin: 0;
    padding: 0;
}

.container{
    height: 690px;
    width: 700px;
    margin: 70px auto;
    border: solid 7px rgb(255, 255, 255);
    background-color: rgb(244,244,244);
}

.cuadrado{
height: 550px;
width: 600px;
margin: 75px  auto;
background-color: white;
border-radius: 20px;
box-shadow: 1px 1px 20px 1px;



}
.imagen{
    display: flex;
    justify-content: center;
    height: 10px;
}
.img{
    margin-top: -60px;
    height: 180px;
    border-radius: 50%;
    border: solid 4px rgb(255, 255, 255);
}
.informacion{
    margin-top: 180px;
    text-align: center;
    font-size: 25px;
}
h1{
    text-align: center;
    font-size: 35px;
    margin: 20px;   
}

h2{
    text-align: center;
    font-size: 30px;
    color: grey;  
    margin: 20px;
}

p{
    font-size: 25x;
    text-align: center;
}

button{
    width: 180px;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
    background-color:rgb(43,120,228) ;
    color: white;
    border-radius: 7px;
    border: solid 1px blue;

}
