*{
    padding:0;
    margin:0;
}

.container{
width: 700px;
background-color:rgb(237,240,242) ;
margin: auto;
margin-top: 90px;
padding: 100px;

}

.rectangulo{
    width: 550px;
    height: 200px;
    margin: 0px auto;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
}

.cuadrado{
    width: 550px;
    height: 300;
    margin: 0px auto;
    background-color: white;
    border-radius: 10px;
}


.user{
    height: 30px;
    margin: 0px 20px ;
}

.aceptar{
    height: 25px;
    margin: 0px 20px ;

}

.rechazar{
    height: 25px;
    margin: 0px 20px ;
    
}

button{
    display: flex;
    justify-content: left;
}