*{
    margin: 0;
    padding: 0;
    outline;

}

.container{
    width: 800px;
    background-color: white;
    margin: 0 auto;
    outline: solid 1px;
}
.container2{
padding: 20px;
}
.black{
    width: ;
    background-color: black;
    margin-bottom: 20px;
    padding: 10px;
}
h1{
    color: white;

}
span{
    color: aqua;
}

.purple{
    background-color:rgb(102,51,153);
    width:;
    margin-bottom: 20px;
    padding: 10px;
}
h2{
    color: white;
    font-style: italic;
    text-align: center;
}
.celeste{
background-color:rgb(159,197,248) ;
width:;
padding: 10px;
}
p{
    color: black;
    text-align: end;
    text-decoration: underline;
}
.grey{
    background-color: grey;
    width: 100%;
}