*{
    /*outline: solid 1px greenyellow; */
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav{
    background-color: #333333;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;

}

.nav-title{
    color: white;
    font-size: 60px;
    align-items: center;
    display: flex;
    margin: 20px;
}
.nav-links{
    display: flex;
    gap: 35px;
    align-items: center;
    font-size: 35px;
}



li{
    list-style-type: none; /*quita viñetas de elemento lista*/
}
a{
    margin: 10px;
    text-decoration: none; /*quita decoracion de etiqueta anchor*/
    color: #c3c3c3;
}

.active{
    color: white;
}

.btn{
    background-color:#17a2b8; 
    color: white; 
    box-shadow:  4px 4px 0px rgb(0, 0, 0); 
    width: 160px;
    height: 50px;
    margin-right: 60px;
    border: 5px solid black; 
    font-size: 30px;
}