*{
    margin:0;
    padding:0;
    outline: solid 1px rgb(3, 3, 0);
}
.container{
    background-color: rgb(227, 228, 185);
    width: 950px;
    margin: 0 auto;/*centra horizontalmente dentro de su contener*/
    padding: 20px;
}

.top-nav{
    width: 100%  ;/* ancho total de la pantalla*/
    height: 150px;
    background-color: rgb(96, 96, 185);
}

.main{
display: flex;
}

.left{
    background-color: brown;
    height: 350px;
    width: 100%;
    flex:1;
    margin-right: 10px;
}

.right{
    margin-left: 10px;
    background-color: deeppink;
    height: 400px;
    flex:3;
}

.row{
padding: 20px;
height: 200px;
display: flex;
gap: 20px;/*separa dentro del contenedor*/

}

.amarillo1{
    background-color: rgb(246, 250, 9);
    flex: 1;
}

.amarillo2{
background-color: rgb(246, 250, 9);
flex: 1;
}

.amarillo3{
background-color: rgb(246, 250, 9);
flex: 1;
}

.row2{
    margin: 0px 20px 0px 20px;
    background: purple;
    height: 100px;
}